<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<header>
  <h1 *ngIf="!borrar" class="flow-text">&nbsp;&nbsp;&nbsp;Bienvenido la MetroTienda</h1>
  <h1 *ngIf="borrar" class="flow-text">&nbsp;&nbsp;&nbsp;Estos son tus cuentos, {{usuario.nombre}}.</h1>
</header>
<div class="col s12 m7" *ngFor="let cuento of cuentos">
  <div class="card horizontal">
    <div class="card-image">
      <img *ngIf="cuento.imagenURL" src="{{cuento.imagenURL}}">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>{{cuento.cuerpo}}</p>
      </div>
      <table>
        <tr>
          <button *ngIf = "borrar" type="button" class="btn btn-primary" (click)="eliminar(cuento)">Borrar</button>
        </tr>
        <tr>
          <p *ngIf = "cuento.usuario" class="card-content">{{cuento.usuario.nombre}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{cuento.fecha}}</p>
        </tr>
      </table>
    </div>
  </div>
</div>
<form #nuevoCuento = "ngForm" (ngSubmit)="anadirCuento(nuevoCuento)" >
  <div class="form-group">
    <label *ngIf = "usuario&&!borrar">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Echa El Cuento Aquí: </label>
    <label *ngIf = "!usuario">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Se requiere autentificación: </label>
    <div class="col-6">
      <textarea *ngIf="usuario&&!borrar" class="form-control-lg" rows="6" name="cuerpo" required minlength="1" maxlength="1000" #cuerpo='ngModel' [(ngModel)] ="enviar.cuerpo"></textarea>
    </div>
    <button *ngIf = "usuario&&!borrar" type="submit" class="btn btn-primary">Enviar</button>
    <button class="btn btn-primary" *ngIf = "usuario&&!borrar" (click)="verMisCuentos()">Ver mis cuentos</button>
    <button class="btn btn-primary" *ngIf = "usuario&&borrar" (click)="regresar()">Regresar</button>
    <label for="imagen" *ngIf = "usuario&&!borrar">Imagen</label>
    <input *ngIf = "usuario&&!borrar" type="file" value="Subir Imagen" id="imagen" (change)="detectarArchivo($event)">
  </div>
</form>
<div>
  <button *ngIf = "!usuario" class="btn btn-primary" (click)="patata()" >Login con Google</button>
  <button *ngIf = "usuario&&!borrar" class="btn btn-primary" (click)="todos()">Lista Completa</button>
  <button *ngIf = "usuario&&!borrar" class="btn btn-primary" (click)="primerosDiez()">Primeros 10 cuentos</button>
  <button *ngIf = "usuario&&!borrar" class="btn btn-primary" (click)="ultimosDiez()">Últimos 10 cuentos</button>
  <button *ngIf = "usuario&&!borrar" class="btn btn-primary" (click)="logout()">Logout</button>
</div>
